<nav class="navbar">
	<div class="navbar-brand">
		<div class="navbar-burger burger" data-target="navMenu">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div id="navMenu" class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item{% if menu.active == "home" %} is-active{% endif %}"
			   href="{{ path_for("admin.index") }}">Home</a>
			{% if auth.check %}
				<a class="navbar-item{% if menu.active == "recipes" %} is-active{% endif %}"
				   href="{{ path_for("admin.list-recipes") }}">Recipes</a>
				<a class="navbar-item{% if menu.active == "categories" %} is-active{% endif %}"
				   href="{{ path_for("admin.list-categories") }}">Categories</a>
				<a class="navbar-item{% if menu.active == "ingredients" %} is-active{% endif %}"
				   href="{{ path_for("admin.list-ingredients") }}">Ingredients</a>
			{% endif %}
		</div>
	</div>
</nav>