{% extends "base.twig" %}

{% block content %}
	<div class="recipe-list">
		{% include "partials/page-header.twig" with { 'title' : 'Recipes' } %}
		<ul class="list-group">
			<li class="list-group-item list-group-item-info">
				<a href="{{ path_for('admin.add-recipe') }}" class="btn btn-success">Create new</a>
			</li>
			{% for item in recipes %}
				<li class="list-group-item">
					<a href="{{ path_for("admin.edit-recipe", {'id': item.id}) }}">{{ item.id }} - {{ item.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}