{% extends "base.twig" %}

{% block content %}
	{% include "partials/page-header.twig" with { 'title' : 'Recipes' } %}
	<ul>
		{% for item in recipes %}
			<li>
				<a href="{{ path_for("admin.edit-recipe", {'id': item.id}) }}">{{ item.id }} - {{ item.title }}</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}