img {
	max-width: 100%;
}

body {
	// margin:      50px 0 0 0;
	padding:     0;
	width:       100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:   18px;
}

.wrap {
	margin:    5em auto 20vh;
	max-width: 40em;
}

.page-header {
	margin: 0 0 2em;
}



