{% extends "base-front.twig" %}

{% block content %}
	<div class="search-wrap form-group">
		<label for="recipe-search">Sök</label>
		<input type="text"
			   id="recipe-search"
			   name="recipe-search"
			   class="form-control"
			   data-url="{{ path_for("recipe-search") }}">
	</div>
	{% include 'frontend/search.twig' %}
{% endblock %}