{% extends "base-front.twig" %}

{% block content %}
	<div class="home">
		<div class="form-group">
			<label for="recipe-search">Sök</label>
			<input type="text" id="recipe-search" name="recipe-search" class="form-control">
		</div>
		<div class="ingredient-list">
			{% for item in ingredients %}
				<button class="btn btn-outline-primary" data-id="{{ item.id }}">{{ item.name }}</button>
			{% endfor %}
		</div>
		<ul class="list-group recipe-list">
			{% for item in recipes %}
				<li class="list-group-item recipe-item">
					<a href="{{ path_for("single-recipe", {'id': item.id, 'lang' : lang}) }}">{{ item.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}